*, *:before, *:after { box-sizing: border-box; }

:root {
  --ms-base: 1rem;
  --ms-ratio: var(--major-second)
}

@media (min-width: 576px) {
  :root {
    --ms-ratio: var(--minor-third);
  }
}

@media (min-width: 720px) {
  :root {
    --ms-ratio: var(--major-third);
  }
}

html {
  font-family: 'Merriweather', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  font-size: calc(17px + (19 - 17) * (100vw - 320px) / (768 - 320));
  /*line-height: calc(1.6em + (1.7 - 1.6) * (100vw - 320px) / (768 - 320));*/
  line-height: 1.6;
}

@media (max-width: 320px) {
  html {
    font-size: 17px;
    line-height: 1.6em;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 19px;
    line-height: 1.7em;
  }
}

body {
  color: #666;
  margin: 0;
  padding: 0;
}

a {
  color: #0099ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


h1, h2, h3 {
  font-weight: 700;
  color: #101010;
  margin: var(--ms5) 0 0 0;
  line-height: 1.4;
  /*line-height: calc(1.4em + (1.6 - 1.4) * (100vw - 320px) / (768 - 320));*/
}

/*@media (max-width: 320px) {
  h1, h2, h3 {
    line-height: 1.4em;
  }
}

@media (min-width: 768px) {
  h1, h2, h3 {
    line-height: 1.6em;
  }
}*/

h1 {
  font-size: var(--ms3)
}

h2 {
  font-size: var(--ms2)
}

h3 {
  font-size: var(--ms1)
}

p, ul, ol, dl, pre, blockquote {
  margin: var(--ms2) 0 0 0;
}

ul {
  padding: 0;
  list-style: none;
}

blockquote {
  padding: 0 var(--ms1);
  border-left: 0.25rem solid #eee;
}

img {
  max-width: 100%;
}

pre {
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  padding: 1rem;
}

code {
  background-color: #f3f3f3;
  color: #75715e;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.8rem;
  padding: 2px 4px;
}

pre code {
  background: transparent;
  border: none;
  display: block;
  line-height: 1.45;
  margin: 0;
  padding: 0;
  white-space: pre;
  word-break: normal;
  word-wrap: normal;
}

pre code:before,
pre code:after {
  content: normal;
}

/**
 * Logo
 */
.logo {
  width: 6rem;
  display: block;
}

/**
 * Main content
 */
.main-content {
  margin: var(--ms5) auto;
  max-width: 768px;
  word-wrap: break-word;
  width: 85%;
}

@media (min-width: 480px) {
  .main-content {
    width: 75%;
  }
}



.main-content > :first-child {
  margin-top: 0;
}

/**
 * Footer
 */
.site-footer {
  font-size: var(--ms-1);
  margin-top: var(--ms1);
  padding-top: var(--ms1);
}

.site-footer-credits {
  color: #999;
}

.circle-head {
  display: block;
  border-radius: 50%;
  overflow: hidden;
  margin: var(--ms4) 0 0;
  width: var(--ms8);
  height: var(--ms8);
}

/**
 * Content
 */
.twitter-tweet {
  margin: var(--ms4) auto !important;
}

.inline-img {
  display: block;
  margin: var(--ms4) auto;
}

.screen-cap {
  box-shadow: 0 2px 4px #ccc;
  display: block;
  margin: var(--ms4) auto;
}

