<head>
  <meta charset="UTF-8">
  <title>{{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#ff9900">
  <link rel="stylesheet" href="//use.typekit.net/vsu1dge.css">
  <link rel="stylesheet" href="//unpkg.com/modular-scale-css@1.0.1/modular-scale.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/highlight.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/peterhry.css">
</head>
